#myWorkSection{
    background-color: #718792;
    padding-top: 120px;
    padding-right: 3vw;
    padding-bottom: 3vw;
    padding-left: 3vw;
}

.headerMyWork {
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 6vw;
    margin-left:0;
}

.box {
    width: 33.3%;
    height: 30vw;
    overflow: hidden;
    position: relative;
}

.leftFloat {
    float: left;
}

.row {
    margin: 0;
}

.boxImg {
    width: 100%;
}

/* hovering over box's area causes image to fade*/
.box:hover .boxImg {
    opacity: 0.6;
}

/* hoving over box's area shows descritpion */
.box:hover .overlay {
  opacity: 1;
}

/* the overlay (description) is invisiable until hover over */
.overlay {
  position: absolute; 
  bottom: 0;
  width: 100%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.637); /* Black see-through */
  color: #f1f1f1; 
  transition: .5s ease;
  opacity:0;
  color: white;
  padding: 10px;
}

/* font inside overlay */
.overlay b, .overlay p {
    line-height: 2vw;
    font-size: 1.3vw;
}

/* Boxes background colors */
.work8 {
    background-color: #d39393;
}

.work9 {
    background-color: #6ec5a1;
}