.parallax_img {
	height: 500px;
	background-image: url('../images/inkplant/code/chicago.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
@media screen and (max-width: 768px) {
	.parallax_img {
		background-attachment: inherit;
	}
}
