.header-see {
    margin-top: 10px;
}

.nav-color {
    background-color: #777777 ;
  }

  .parallax-container {
    height: 100px;
  }

.opcacity {
    opacity: .9;
}

.portImg {
    height: 150px
}

.my-pic {
    float: left;
}
/* .contents {
    float: left;
} */