/* Greeting header ===================================== */
.greeting {
	color: #ffffff;
	line-height: 0px;
	padding-bottom: 30px;
	text-align: center;
	background-color: #494848a2;
	width: 900px;

	position: absolute;
	top: 30%;
	right: 0;
}
.greeting h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: 'Thasadith', sans-serif;
	font-size: 110px;
}
.greeting p {
	font-size: 30px;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-family: 'Raleway', sans-serif;
}

/* NavBar =========================================== */
#navBar {
	background-color: #1c313a;
}

#aboutMe {
	padding: 30px;
}

/* Profile Picture - the 1st FLOAT =================== */
.my-pic{
	float: left;
	width: 200px;
	margin: 40px;
	padding: 3px;
	border-radius: 50%;
	border: solid 1px #aca1a1c2;
}

.bioSection {
	margin-top: 0;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
}


/* Contact Info Section ================================= */
.contactInfo {
	width: 360px;
	margin-top: 100px;
	margin-left: 5%;
	padding: 20px 20px;
	background-color: #494848e0;
	color: #ffffff;
	font-family: 'Krub', sans-serif;
}

/* social medial icons CSS STARTS ======================== */
.fa {
	padding: 20px;
	font-size: 20px;
	width: 55px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}	
.fa:hover {
	opacity: 0.7;
}
.fa-linkedin {
	background: #007bb5;
	color: white;
}
.fa-github {
	background: #000000;
	color: #ffffff;
}
#contactHeading {
	margin-top: 0;
	font-size: 40px;
	text-decoration: underline;
}
#contactEmail{
	margin: 0;
	font-size: 20px;
}
.emailButton {
	background-color: #1c313a;
}
.emailButton:hover {
	opacity: 0.7;
}

/* 2nd background image's opacity================== */
.opacityPic_2{
	opacity: 0.8;
}

/* FLOATS ========================================== */
.leftFloat {
	float: left;
}

.cardWidth {
	width: 350px;
}

.clearFloat {
	clear: both;
}

/* footer =========================================== */
footer {
	background-color: #1c313a;
	color: #718792;
	text-align: center;
	padding: 20px;
}